<!DOCTYPE html>
{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h3>REGISTRATION</h3>
    <div class="container">
        {% load crispy_forms_tags %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Register">
        </form>
    </div>

    <br> <hr>
    <p> You have already an account? <a href="{% url 'login' %}">Sign In</a> </p>

    {% endblock content %}
</body>
</html>